.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  position: absolute;
  /* position absolute면 가장 근접한 static 포지션이 아닌 부모태그에서 움직임  */
  left: 75%;
  top: 15%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  /* 위아래, 왼쪽오른쪽 */
  border-radius: 0.5rem;
  text-transform: uppercase;
  /* 텍스트 대문자로 */
  font-weight: bold;
}

.avatar {
  position: relative;
  /* 가장 근접한 부모로 만들기 위해 position relative 속성 추가 */
  margin: auto;
  /* 중간 정렬 */
  width: 200px;
  height: 200px;
}
